{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Safwen Ourabi</title>
  <meta name="description" content="This website serves as a platform to display my portfolio, showcasing my projects, work experiences, curriculum vitae (CV), and a comprehensive overview of my skills.">
  <meta name="keywords" content="safwen portfolio,safwen ourabi portfolio,  Safouen ourabi ,safwen ourabi render , ,safwen ourabi render portfolio ,safwen,safwen ourabi ,ourabi , CV">
  <meta name="author" content="Ourabi safouen">

  <link href="{% static 'assets/img/letter-s_8913754.png' %}" rel="icon">
  <link href="{% static 'assets/img/letter-s_8913754.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}"rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Ourabi Safouen</h1>
      <p>I'm <span class="typed" data-typed-items="An ICT Engineering Student,A Web Developer,A DATA SCIENCE AND AI ENTHUSIAST,A Freelancer"></span></p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/safwen-ourabi/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://github.com/safwenourabi" class="Github"><i class="bx bxl-github"></i></a>
        <a href="https://www.facebook.com/ourabi12/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/safwenourabi/" class="instagram"><i class="bx bxl-instagram"></i></a>
        
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>I am a second-year engineering student and I am passionate about embedded systems, web development, and artificial intelligence. Motivated and determined, I am open to any proposal and willing to put my skills and creativity at your service</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static '20230326_220818-removebg-preview.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>ICT engineering student &amp; Web Developer.</h3>

            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>15 Novemeber 2001</span></li>
               
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+216 92739560</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Ariana , Tunisia</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Engineering</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>safouen.ourabi@supcom.tn</span></li>
                  
                </ul>
              </div>
            </div>
            <p class="fst-italic">



              Feel free to contact me for Intership , Freelancing or Job Offers.
          
            </p>            

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Throughout my educational journey and professional career, I have acquired a multitude of skills that have significantly contributed to my growth and success.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML / CSS  <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">JavaScript / TypeScript / Python / C / C++    <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"> React / Bootstrap   <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


            <div class="progress">
              <span class="skill">django / laravel <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">ROBOTICS / ARDUINO /
                RASBERRY / FPGA
                 <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">LINUX<i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">PANDAS / TENSORFLOW / PYTORCH <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
         
            <div class="progress">
              <span class="skill">mysql / oracle / Postgresql <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

   
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p> By leveraging my educational background, professional career, and active involvement in associations and clubs, I have successfully crafted a decent resume.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Ourabi Safouen</h4>
              <p><em>I am a second-year engineering student and I am passionate about embedded systems, web development, and artificial intelligence. Motivated and determined, I am open to any proposal and willing to put my skills and creativity at your service</em></p>

            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Engineering program in ICT</h4>
              <h5>September 2022 to present</h5>
              <p><em> Higher School of Communications of Tunis (SUP'COM), Tunisia</em></p>
              <p></p>
            </div>
            <div class="resume-item">
              <h4>Preparatory program</h4>
              <h5>2020-2022</h5>
              <p><em> Preparatory Institute for Engineering Studies in Nabeul , Tunisia</em></p>
              <p> Ranked 19th out of 750 in the 2022 National Entrance Exam for Engineering Programs</p>
            </div>
            <div class="resume-item">
              <h4>baccalauréat (sciences techniques)</h4>
              <h5>2016 - 2020</h5>
              <p><em>lycée mixte de béja ,Tunisia</em></p>
              <p>Passed with highest honors : 18.39 </p>
            </div>
          
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Intern Web Developer</h4>
              <h5>june 2022 - August 2022</h5>
              <p><em>SAMM Test and Automation,Tunisia </em></p>
              <ul>
                <li> I served as a Web Developer, utilizing Django to create a seamless platform connecting employees with the IT department for hardware and software repair requests</li>
                <li>I collaborated closely with stakeholders to deliver a user-friendly website, ensuring efficient data management and prompt responses from the IT team.  </li>
                <li>Technology used : HTML / CSS / JavaScript / Django / Postgresql</li>
                <li>This experience honed my technical skills and ability to work effectively within cross-functional teams.</li>
              </ul>
              
            </div></div>          
          <div class="col-lg-6">

            <h3 class="resume-title">Associative experience</h3>
            <div class="resume-item">
              <h4>Student representative at SUP'COM</h4>
              <h5>Mars 2023 - present </h5>
              <p><em>As Student Representative at SUP'COM, I advocated for students' interests, facilitated communication between students and faculty, and initiated initiatives to enhance the learning environment. I developed leadership, communication, and problem-solving skills, making a positive impact on the student community.</em></p>
            </div>
            <div class="resume-item">
              <h4>President of the executive board of the North American Tunisian Engineers Group (NATEG) club at SUP'COM.</h4>
              <h5>Mars 2023 - present </h5>
              <p><em> As PRESIDENT of Club Nateg at SUP'COM, I led a vibrant community, organizing diverse events and fostering a sense of belonging. I developed strong leadership, organizational, and communication skills, positively impacting the SUP'COM community.</em></p>
            </div>
            <div class="resume-item">
              <h4>Active member of the IEEE SUP'COM Student Branch</h4>
              <h5>september 2022 - August 2023</h5>
              <p><em> As an IEEE SUPCOM member, I actively participated in workshops, robotics competitions, and organizing event such as Indabax2023. These experiences enriched my technical skills and leadership abilities.</em></p>
            </div>
            <div class="resume-item">
              <h4>Active member of Team SUP'COM</h4>
              <h5>september 2022 - Mars 2023</h5>
              <p><em>As part of Team SUPCOM, I actively contributed to organizing the highly successful event, Forum SUPCOM. This experience honed my teamwork and communication skills and reinforced my passion for event management and community engagement. </em></p>
            </div>

            <div class="resume-item">
              <h4>Participating in several competitions</h4>
              <h5>september 2022 - August 2023</h5>
              <p><em>I actively participated in robotics, AI, and entrepreneurship competitions, showcasing my technical skills, creativity, and problem-solving abilities. These experiences 
                enriched my academic journey and fueled my passion for innovation                                 .                                                                    </em></p>
            </div>
                                                                                                      
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>This section includes several ongoing projects that I have been involved in. While not all projects are currently listed here, I will be uploading additional information for each project as I complete their respective documentation.</p>
        </div>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>    
              <li data-filter=".filter-web">Professional Projects</li>
              <li data-filter=".filter-app">Academic-Projects</li>
            </ul>
          </div>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/admin1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Repair Ticket App</h4>
                <p>Intership Project</p>
                <div class="portfolio-links">
                  <a target="_blank" href="{% static 'assets/img/portfolio/admin.png' %}"  data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                  <a  target="_top" href="{% url 'main/RepairTicketProject' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/Ajouter un titre.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>School Projects  Database</h4>
                <p>School Project</p>            
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/Database.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                  <a href="{% url 'main/databaseprojectmanagment' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/Image Encryption1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Image Encryption Program</h4>
                <p>School Project</p> 
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/Image Encryption.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                  <a href="{% url 'main/imageencryption' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/ELECTRONIC PROJECT 1 .jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Electronic Project: ALU</h4>
                <p>School Project</p> 
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/ELECTRONIC PROJECT.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'main/electronicproject' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p> Ariana, Tunisia</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>safouen.ourabi@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+216 92 739 560</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form  method="post" role="form" class="php-email-form">
              {% csrf_token %} 

              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Safouen Ourabi</h3>
      <p></p>
      <div class="social-links">
        <a href="https://github.com/safwenourabi" class="Github"><i class="bx bxl-github"></i></a>
        <a href="https://www.facebook.com/ourabi12/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/safwenourabi/" class="instagram"><i class="bx bxl-instagram"></i></a>
        
        <a href="https://www.linkedin.com/in/safwen-ourabi/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}" ></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
*

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
